<h2 class="text-center">Le nostre auto Fiat:</h2>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 align-items-stretch">
    <div class="col mt-3" *ngFor="let auto of FiatArr">
      <div class="card h-100" [ngClass]="{
        'bg-success': auto.available,
        'bg-danger': !auto.available
      }">
        <img [src]="auto.modelImage" class="card-img w-100 h-50" alt="">
        <div class="card-body text-center">
          <h5 class="card-title">{{ auto.model }}</h5>
          <p class="card-text">{{ auto.year }}</p>
          <p class="card-text">{{ auto.price }}€</p>
          <p>Pronta consegna: {{ auto.available ? 'Sì' : 'No' }}</p>
          <a href="#" class="btn btn-dark">Scopri di più</a>
        </div>
      </div>
    </div>
  </div>
</div>
