<footer class="pt-3 bg-secondary">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-6 text-light">


        <div class="row d-block my-2">
          <span><a href="#"><i class="bi bi-youtube"></i></a></span>
          <span><a href="#"><i class="bi bi-facebook"></i></a></span>
          <span><a href="#"><i class="bi bi-twitter-x"></i></a></span>
          <span><a href="#"><i class="bi bi-instagram"></i></a></span>
        </div>

        <div class="row d-none d-md-flex my-3">
          <div class="col">
            <p>
              <a href="#" class="text-light">About Us</a>
            </p>
            <p>
              <a href="#" class="text-light">Our Mission</a>
            </p>
            <p>
              <a href="#" class="text-light">Our Team</a>
            </p>
            <p class="mb-4">
              <a href="#" class="text-light">Contact Us</a>
            </p>
            <button type="button" class="btn btn-outline-light">
              Service Code
            </button>
          </div>


          <div class="col">
            <p>
              <a href="#" class="text-light">Terms and Conditions</a>
            </p>
            <p>
              <a href="#" class="text-light">Privacy Policy</a>
            </p>
            <p>
              <a href="#" class="text-light">Cookie Policy</a>
            </p>
          </div>
          <div class="col">
            <p>
              <a href="#" class="text-light">Help Center</a>
            </p>
            <p>
              <a href="#" class="text-light">FAQs</a>
            </p>
            <p>
              <a href="#" class="text-light">Support</a>
            </p>
          </div>


          <div class="col">
            <p>
              <a href="#" class="text-light">Gift Cards</a>
            </p>
            <p>
              <a href="#" class="text-light">Corporate Information</a>
            </p>
            <p>
              <a href="#" class="text-light">Investor Relations</a>
            </p>
          </div>
        </div>


        <div class="row">
          <div class="col mt-2 h6">© 2024 to-DO-carugati Top, inc.</div>
        </div>
      </div>
    </div>
  </div>
</footer>