


.col p a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.col p a:hover {
  color:  #06f006;
}


.row span i {
  font-size: 40px;
  color:  lightgrey !important;
  padding: 0 0.5rem;
}


.row span i:hover {
  background-color:   #078f07 ;
}
