<nav class="navbar navbar-expand-lg bg-secondary">
  <div class="container-fluid">
    <img
      src="https://ouch-cdn2.icons8.com/LBAvuTXDlBOk0GMsvDeCqcaDa717t01xaMhCdzz6EUA/rs:fit:456:456/extend:true/wm:1:re:0:0:0.8/wmid:ouch/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNDMw/LzE4YTAzMzE3LWEw/OWMtNDJkNy05ODVk/LWZhNTY1MWM2MTlj/Zi5zdmc.png"
      alt="Logo" class="logo" />

    <div class="collapse navbar-collapse" [ngClass]="{ show: show }">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Pagina Principale</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/completed" routerLinkActive="active">Task Completati</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active">Gestione Utenti</a>
        </li>
      </ul>
    </div>

    <img
      src="https://ouch-cdn2.icons8.com/LBAvuTXDlBOk0GMsvDeCqcaDa717t01xaMhCdzz6EUA/rs:fit:456:456/extend:true/wm:1:re:0:0:0.8/wmid:ouch/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNDMw/LzE4YTAzMzE3LWEw/OWMtNDJkNy05ODVk/LWZhNTY1MWM2MTlj/Zi5zdmc.png"
      alt="Logo" class="logo" />
  </div>
</nav>